extends layout

block content
  .page-header
    span(style="color: rgb(210,180,180);") Code
      span(style="color: rgb(150,150,150)") monkey
    img(href="")
  .main-wrapper
    .problem-container
    //.footer


