doctype html
html
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/jquery.color.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
  body
    block content
