doctype html
html
  head
    title= title
    script(src="/javascripts/spinner.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://notendur.hi.is/~dap8/Vefforitun/lokaverkefni/codemirror.js")
    script(src="/javascripts/javascript.js")
    script(src="/javascripts/main.js")
    script(src="https://notendur.hi.is/~dap8/Vefforitun/lokaverkefni/jquery.color.js")
    link(rel='stylesheet', href='https://notendur.hi.is/~dap8/Vefforitun/lokaverkefni/codemirror.css')
    link(rel='stylesheet', href='https://notendur.hi.is/~dap8/Vefforitun/lokaverkefni/dracula.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
  body
    block content
